{{! Maintainers - LearnChamp}}
<div class="component-inner opentextinput-inner">
    {{#if title}}
    <div class="component-title opentextinput-title">
        <h4 class="component-title-inner opentextinput-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body opentextinput-body">
        <div class="component-body-inner opentextinput-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="component-widget opentextinput-widget">
    <textarea rows="2" cols="7" class="opentextinput-item-textbox" placeholder="{{{placeholder}}}"></textarea>
    
    {{! if statements set default button labels if unset in json}}
        <div class="buttons">
            <a href="#" class="button save" value="Save">
                <span>  
                {{#unless buttons.save}} Save {{/unless}}
                    {{{buttons.save}}}
                </span>
            </a>
             <a href="#" class="button submit" >
                <span>  
                    {{{buttons.submit}}} 
                </span>
            </a> 
             <a href="#" class="button model">
                <span> 
                    {{{buttons.showCorrectAnswer}}} 
                </span>
            </a>
            <a href="#" class="button user">
                <span>
                    {{{buttons.hideCorrectAnswer}}} 
                </span>
            </a>             
        </div>
    </div>
</div>