{{! Maintainers - Kev Adsett}}
<div class="component-inner opentextinput-inner">
    {{#if title}}
    <div class="component-title opentextinput-title">
        <h4 class="component-title-inner opentextinput-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body opentextinput-body">
        <div class="component-body-inner opentextinput-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    {{! complex unless and if combination to set the correct classes for CSS to use in showing marking and disabled states}}
    <div class="component-widget opentextinput-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        <div class="opentextinput-item item clearfix ">
            <textarea rows="2" cols="7" class="opentextinput-item-textbox"></textarea>
        </div>
        {{! if statements set default button labels if unset in json}}
        <div class="buttons">
            <a href="#" class="button save">
                <span>  
                    {{{buttons.save}}} 
                </span>
            </a>
             <a href="#" class="button submit">
                <span>  
                    {{{buttons.submit}}} 
                </span>
            </a>
            <a href="#" class="button reset">
                <span>
                    {{{buttons.reset}}} 
                </span>
            </a>
            <a href="#" class="button model">
                <span> 
                    {{{buttons.showCorrectAnswer}}} 
                </span>
            </a>
            <a href="#" class="button user">
                <span>
                    {{{buttons.hideCorrectAnswer}}} 
                </span>
            </a>            
        </div>
    </div>
</div>