{{! Maintainers - LearnChamp}}
<div class="component-inner opentextinput-inner">
    {{#if title}}
    <div class="component-title opentextinput-title">
        <h4 class="component-title-inner opentextinput-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body opentextinput-body">
        <div class="component-body-inner opentextinput-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="component-widget opentextinput-widget">
    <div class="countCharacters"></div>

    <div class="opentextinput-answer-container">

      <textarea class="opentextinput-item-textbox opentextinput-useranswer"
    rows = {{{numberRows}}}
    placeholder="{{{placeholder}}}" 
    maxlength="{{{allowedCharacters}}}"></textarea>

         <span class="opentextinput-modelanswer">{{{modelAnswer}}}</span>
    </div>

  
    
        <div class="buttons">
             {{> buttons this}}
            <a href="#" class="button save" value="Save">
                <span>  
                {{#unless buttons.save}} Save {{/unless}}
                    {{{buttons.save}}}
                </span>
            </a>    
            <a href="#" class="button clear" value="Clear">
                <span>  
                {{#unless buttons.clear}} Clear {{/unless}}
                    {{{buttons.clear}}}
                </span>
            </a>  
        </div>
    </div>
</div>