{{! Maintainers - LearnChamp}}
<div class="component-inner openTextInput-inner">
    {{> component this}}
    <div class="component-widget openTextInput-widget">
    <div class="openTextInput-count-characters">
    <span class="openTextInput-count-text">
        {{#if _allowedCharacters}}
            {{remainingCharactersText}}
        {{else}}
            {{characterCountText}}
        {{/if}}
    </span>
    <span class="openTextInput-count-amount">
        
    </span>
    </div>

    <div class="openTextInput-answer-container">
      <textarea class="openTextInput-item-textbox openTextInput-useranswer"
    rows = {{{_numberOfRows}}}
    placeholder="{{{placeholder}}}" 
    maxlength="{{{allowedCharacters}}}">
        {{#if _userAnswer}}
            {{_userAnswer}}
        {{/if}}
    </textarea>
         <span class="openTextInput-modelanswer">{{{modelAnswer}}}</span>
    </div>
        <div class="buttons">
            <button href="#" class="openTextInput-save-button">
                <span>  
                {{#unless _buttons.save}} Save {{/unless}}
                    {{{_buttons.save}}}
            </button>    
            <a href="#" class="openTextInput-clear-button" value="Clear">
                <span>  
                {{#unless _buttons.clear}} Clear {{/unless}}
                    {{{_buttons.clear}}}
                </span>
            </a>  
        </div>
    </div>
</div>