{{! Maintainers - LearnChamp}}
<div class="component-inner openTextInput-inner">
    {{#if title}}
    <div class="component-title openTextInput-title">
        <h4 class="component-title-inner openTextInput-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body openTextInput-body">
        <div class="component-body-inner openTextInput-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="component-widget openTextInput-widget">
    <div class="countCharacters"></div>

    <div class="openTextInput-answer-container">

      <textarea class="openTextInput-item-textbox openTextInput-useranswer"
    rows = {{{numberOfRows}}}
    placeholder="{{{placeholder}}}" 
    maxlength="{{{allowedCharacters}}}"></textarea>

         <span class="openTextInput-modelanswer">{{{modelAnswer}}}</span>
    </div>
        <div class="buttons">
            <button href="#" class="openTextInput-save-button">
                <span>  
                {{#unless buttons.save}} Save {{/unless}}
                    {{{buttons.save}}}
            </button>    
            <a href="#" class="openTextInput-clear-button" value="Clear">
                <span>  
                {{#unless buttons.clear}} Clear {{/unless}}
                    {{{buttons.clear}}}
                </span>
            </a>  
        </div>
    </div>
</div>